td {
    border: 1px solid coral;
    padding: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid coral;
    padding: 10px;
    text-align: center;
    background: coral;
}