

.card {
    border: 2px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 1px grey;

}

.card-img {
    width: 300px;
    border-radius: 10px 10px 0 0;
}
.card-body {
    text-align: center;
}


.card-text {
    text-align: justify;
}

.card-price i{
    color: red;
}
.card-price {
    color: green;
}
.card-title {
    color: darkred;
}

.card-btn-detail {
    border: 1px;
    background-color: coral;
}
